.container{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.square{
    flex: 0 0 auto;
    background-color: black;
}

.buttons{
    display: flex;
    margin: 10px 0;
    gap: 10px;
}